<%- title "Login" %>

<div class="row">
  <div class="small-3 columns login-form">

    <% if flash[:notice] %>
      <div data-alert class="alert-box alert">
        <%= flash[:notice] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <%= form_tag(:action => 'login_attempt') do %>
      <div class="row">
        <div class="small-12 columns">
          <label>Username
            <%= text_field_tag(:username) %>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <label>Password
            <%= password_field_tag :password %>
          </label>
        </div>
      </div>

      <%= submit_tag "Log In", class: "button" %>
  <% end %>
  </div>
</div>
