<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Informasi Beasiswa untuk Pelajar Indonesia" />
    <meta name="keywords" content="daftarbeasiswa.com, beasiswa, S1" />
    <meta name="author" content="daftarbeasiswa.com" />

    <meta property="fb:admins" content="daftarbeasiswa.com" />
    <meta property="og:title" content="daftarbeasiswa.com | <%= content_for?(:title) ? yield(:title) : "daftarbeasiswa.com" %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://daftarbeasiswa.com" />
    <meta property="og:site_name" content="daftarbeasiswa.com" />
    <meta property="og:description" content="<%= content_for?(:title) ? yield(:title) : "daftarbeasiswa.com" %>" />
    <meta property="og:image" content="<%= image_path('graduation.jpg') %>" />

    <title>daftarbeasiswa.com | <%= content_for?(:title) ? yield(:title) : "daftarbeasiswa.com" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Lobster" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row" id="header">
      <div class="small-8 columns">
        <h1 class="site-title"><%= link_to "daftarbeasiswa.com", root_path %></h1>
      </div>

      <div class="small-4 columns site-search">
        <!--
        <div class="row collapse">
          <div class="small-9 columns">
            <input type="text" placeholder="Pencarian" />
          </div>
          <div class="small-3 columns">
            <a href="#" class="button postfix"><i class="fa fa-search"></i></a>
          </div>
        </div>
        -->
        <% if current_user %>
          <ul class="inline-list">
            <li><a href="/scholarships/new">Tambah Data Beasiswa</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="row" id="content">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>

    <div class="row" id="footer">
      <%= link_to "Pertanyaan, Kritik dan Saran", "/contact" %> | daftarbeasiswa.com &mdash; 2014
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
